<form action="/browse" method="get">
  <select [(ngModel)]="generos" class="form-select mb-3" name="genre" id="genre_select">
    <option value="">Filtro por generos:</option>
    <option value="accion">Acción</option>
    <option value="artes-marciales">Artes Marciales</option>
    <option value="aventura">Aventuras</option>
    <option value="carreras">Carreras</option>
    <option value="ciencia-ficcion">Ciencia Ficción</option>
    <option value="comedia">Comedia</option>
    <option value="demencia">Demencia</option>
    <option value="demonios">Demonios</option>
    <option value="deportes">Deportes</option>
    <option value="drama">Drama</option>
    <option value="ecchi">Ecchi</option>
    <option value="escolares">Escolares</option>
    <option value="espacial">Espacial</option>
    <option value="fantasia">Fantasía</option>
    <option value="harem">Harem</option>
    <option value="historico">Historico</option>
    <option value="infantil">Infantil</option>
    <option value="josei">Josei</option>
    <option value="juegos">Juegos</option>
    <option value="magia">Magia</option>
    <option value="mecha">Mecha</option>
    <option value="militar">Militar</option>
    <option value="misterio">Misterio</option>
    <option value="musica">Música</option>
    <option value="parodia">Parodia</option>
    <option value="policia">Policía</option>
    <option value="psicologico">Psicológico</option>
    <option value="recuentos-de-la-vida">Recuentos de la vida</option>
    <option value="romance">Romance</option>
    <option value="samurai">Samurai</option>
    <option value="seinen">Seinen</option>
    <option value="shoujo">Shoujo</option>
    <option value="shounen">Shounen</option>
    <option value="sobrenatural">Sobrenatural</option>
    <option value="superpoderes">Superpoderes</option>
    <option value="suspenso">Suspenso</option>
    <option value="terror">Terror</option>
    <option value="vampiros">Vampiros</option>
    <option value="yaoi">Yaoi</option>
    <option value="yuri">Yuri</option>
  </select>
  <select [(ngModel)]="date" class="form-select mb-3" name="year" id="year_select">
    <option value="">Filtro por año:</option>
    <option value="2022">2022</option>
    <option value="2021">2021</option>
    <option value="2020">2020</option>
    <option value="2019">2019</option>
    <option value="2018">2018</option>
    <option value="2017">2017</option>
    <option value="2016">2016</option>
    <option value="2015">2015</option>
    <option value="2014">2014</option>
    <option value="2013">2013</option>
    <option value="2012">2012</option>
    <option value="2011">2011</option>
    <option value="2010">2010</option>
    <option value="2009">2009</option>
    <option value="2008">2008</option>
    <option value="2007">2007</option>
    <option value="2006">2006</option>
    <option value="2005">2005</option>
    <option value="2004">2004</option>
    <option value="2003">2003</option>
    <option value="2002">2002</option>
    <option value="2001">2001</option>
    <option value="2000">2000</option>
    <option value="1999">1999</option>
    <option value="1998">1998</option>
    <option value="1997">1997</option>
    <option value="1996">1996</option>
    <option value="1995">1995</option>
    <option value="1994">1994</option>
    <option value="1993">1993</option>
    <option value="1992">1992</option>
    <option value="1991">1991</option>
    <option value="1990">1990</option>
  </select>
</form>
<div class="row row-cols-1 row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 g-50">
  <div *ngFor="let serie of series" class="col">
    <div
      *ngIf="(!generos || serie.generos.toLowerCase().includes(generos)) && (!date || serie.fecha_inicio.includes(date))"
      class="card">
      <img [ngbPopover]="popContent" triggers="mouseenter:mouseleave" placement="end" [popoverTitle]="popTitle"
        src="{{serie.imagen}}" class="card-img-top" alt="{{serie.nombre}}">
      <div class="card-body">
        <h5 class="card-title">{{serie.nombre}}</h5>
        <ng-template #popContent><u><b>Sinopsis:</b></u>
          <p><b>{{serie.sinopsis}}</b></p><u><b>Generos:</b></u>
          <p><b>{{serie.generos}}</b></p><b><u>Fecha de salida:</u></b>
          <p><b>{{serie.fecha_inicio}}</b></p>
        </ng-template>
        <ng-template #popTitle><b><u>{{serie.nombre}}</u></b></ng-template>
      </div>
    </div>
  </div>
